// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
@import "material-dashboard/variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "material-dashboard";

.form-group .help-block {
  display: block;
}

@media (min-width: 992px) {
  .sidebar-mini .sidebar .collapse .nav {
    width: 200px;
    height: auto;
  }
}

.sidebar-mini .sidebar .nav {
  p {
    display: inline;
  }
  & > li > a > p {
    display: none;
  }
}

.sidebar-mini [data-background-color="black"] {
  .nav .collapse li:not(.active) > a,
  .user .collapse li:not(.active) > a {
    i, p {
      color: #3C4858;
      display: inline;
    }
  }
}

.registrations_by_country {
  height: 270px;
  overflow-y: scroll;
  .country_content {
    min-height: 101%;
  }
}
