// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "material-dashboard";

//@media (min-width: 979px) {
body {
  //padding-top: 51px;
}

//}

@import "bootstrap.vertical-tabs";

.whiteBg {
  background: white;
  p, .form-group .checkbox label, .form-group .radio label, .form-group label, .form-group .label-on-left, .form-group .label-on-right {
    color: #111;
  }

}

.nav-tabs li {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 768px) {
  .navbar-right {
    //background: rgba(0,0,0,0.5);
  }
}

.navbar, .navbar.navbar-default {
  background: rgba(0, 0, 0, 0.6);
  .navbar-brand {
    padding: 0;
    //margin-top: 5px;
    img {
      max-height: 51px;
      //background: rgba(0, 0, 0, 0.3);
      padding: 5px;
      border-radius: 5px;
    }
  }
  .navbar-nav > li > a {
    color: #dddddd;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);

    //text-transform: uppercase;
    &:hover, &:focus, &:active {
      color: #ffffff;

      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    }
  }
}

section.subscribe_for_events {
  background: url('/images/frontend/subscribe.jpg');
  background-size: cover;
  color: #FFFFFF;
  .inner_shadow {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 150px;

  }
}

section.aboutUsHeader {
  background: url("/images/frontend/reg_header.jpg");
}

section.eventsHeader {
  background: url("/images/frontend/events_page_header.jpg");
}

section.registrationHeader {
  background: url("/images/frontend/reg_header.jpg");
}

section.aboutUsHeader, section.eventsHeader, section.registrationHeader {

  background-size: cover;
  width: 100%;
  .inner_shadow {
    padding: 120px 0 60px 0;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    h2 {
      margin-bottom: 20px;
    }
    h2 span {
      border: 1px solid #FFFFFF;
      padding: 10px 15px;
    }
  }
  text-align: center;
}

section.events__list__homepage {
  width: 100%;
  padding: 80px;
  h2 {
    margin-bottom: 50px;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #131F32;
    color: #FFFFFF;
  }

  .event_list_icon {
    text-align: center;
    width: auto;
    .event_list_date {
      font-size: 60px;
      text-align: center;
    }
    .event_list_month_year {
      font-size: 18px;
    }
  }

  .event_item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    .event_item_time {
      &:before {
        display: block;
        content: '';
        width: 60px;
        border-top: 4px solid #000000;
      }
    }
  }
}

section.company_profile {
  background: #FFFFFF;
  padding: 100px;

}

section.events_details {
  width: 100%;
  background: #ebebeb;

  @media (min-width: 968px) {
    padding: 20px;
    .grid-sizer,
    .grid-item {
      width: 30%;
      margin-bottom: 30px;
    }

    .gutter-sizer {
      width: 4%;
    }
    /* 2 columns wide */
    .grid-item--width2 {
      width: 50%;
    }

  }
  @media (max-width: 968px) {

    .grid-sizer,
    .grid-item {
      width: 48%;
      margin-bottom: 30px;
    }

    .gutter-sizer {
      width: 4%;
    }
    /* 2 columns wide */
    .grid-item--width2 {
      width: 50%;
    }

  }

  @media (max-width: 450px) {

    .grid-sizer,
    .grid-item {
      width: 100%;
      margin-bottom: 30px;
    }

    .gutter-sizer {
      width: 4%;
    }
    /* 2 columns wide */
    .grid-item--width2 {
      width: 50%;
    }

  }

  .event--single {
    background: #FFFFFF;
  }
  .event--single-detail {
    padding: 20px 15px;
  }
}

footer {
  width: 100%;
  padding: 60px 0;
  background: #131F32;
  color: #979797;
  .logoImg {
    margin-bottom: 10px;
  }
  h4 {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    &:after {
      width: 20%;
      content: '';
      display: block;
      //position: absolute;
      margin-top: 15px;
      border-bottom: 4px solid #FFFFFF;
      clear: both;
    }
  }
  p {
    text-align: justify;
  }
  .footerHr {
    background: #979797;
  }
  .footer-links {
    list-style: none;
    padding: 0;
    li {
      list-style: none;
      padding: 0;
      line-height: 35px;
      a {
        color: #979797;
      }
    }
  }

  .newsItem {
    margin-top: 20px;
    h5 {
      font-weight: bold;
    }
  }

  .social_links {
    i {
      margin: 0 3px;
    }
  }
}

.event-detail--info {
  h4 {
    text-transform: uppercase;
  }
  .time_pill {
    padding: 5px 10px;
    border: 1px solid #333333;
  }
}

.registrationPage {
  padding-top: 60px;
}

.events_details {
  .card {
    .card-content {
      height: 160px;
      overflow: inherit;
    }
  }
}